[flake8]
extend-ignore=
  # Ignore line length
  E501,
  # Ignore whitespace before ':'
  E203,
  # Whitespace around '='
  E251,
per-file-ignores=
  __init__.py: F401
exclude =
  .git,
  .venv,
  __pycache,
